<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MenuTiendaElectronica.Properties.Settings.TIENDA_ELECTRONICAConnectionString"
            connectionString=""Data Source=.;Initial Catalog=TIENDA_ELECTRONICA;Integrated Security=True";Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

<!-- Edita tu propia cadena de conexión en este archivo -->